body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}

#board{
    background-color: skyblue;
    background: url("../images/flappybirdbg.png");
}
#bird{
    background: transparent !important;
}